---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar />
    <main>
      <h3 class="text-xl font-medium">About Me</h3>
      <div class="about text-sm flex flex-col gap-y-4">
        <p>
          I’m Nikhil, a Full-Stack Developer. I’m not picky about
          what I work with; I dive into anything that gets the job done. I love
          crafting automation scripts and websites that make life easier,
          whether it’s through my trusty terminal or just a couple of clicks.
        </p>
        <p>
          I often spend my time working on personal projects, or trying out new
          technologies I find interesting. Besides that I also read books, annoy
          my cats, study psychology for fun (it’s just a random subject I’m
          interested in).
        </p>
        <p>
          Also, I LOVE listening to music I listen to music like 80% of the
          time.
        </p>
      </div>
      <h3 class="text-xl font-medium">Recent Posts</h3>
      <ul class="decoration-none grid grid-cols-1 gap-4">
        {
          posts
            .slice(-3)
            .reverse()
            .map((post) => (
              <li class="p-4 archive-post-card">
                <a href={`/blog/${post.slug}/`}>
                  <h4 class="title text-base md:text-lg">{post.data.title}</h4>
                  <p class="date text-xs md:text-sm my-1">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <p class="text-xs md:text-sm line-clamp-3">{post.data.description}</p>
                </a>
              </li>
            ))
        }
      </ul>
    </main>
    <Footer />
    <style>
      .archive-post-card {
        background: var(--card);
        border: 1px solid var(--border);
      }
      .archive-post-card:hover {
        background-color: var(--card-hvr);
      }
    </style>
  </body>
</html>
